@import 'webfonts.css';
@import 'animations.css';

:root {
    
  --font-mono: 'VCR OSD Mono', monospace;
  --plum: #533747;
  --plum-light: #5F506B;
  --berrie: #6A6B83;
  --berrie-light: #76949F;
  --dragonfruit: #86BBBD;
  --cotton: #f1e2da;
}

* {
  box-sizing: border-box;
  font-family: var(--font-mono);
  margin: 0;
}

h2,p,a{ 
    text-align:center; 
} 

h2{ 
    font-size:30px; 
} 

p{ 
    font-size:20px; 
} 
p#winnerLog, #gameRound{
    font-size:22px;
    font-weight:bold;
}

.game-intro, 
#computerMove,
#winnerLog,
#gameRound,
#userMove {
  white-space: pre-line;
}


html {
  scroll-behavior: smooth;
}

body {
  background: no-repeat linear-gradient(var(--plum), var(--plum-light), var(--berrie), var(--berrie-light), var(--dragonfruit));
  min-height: 100vh;
  color: var(--plum-light);
}


button {
  background-color: var(--cotton);
  border: solid black 2px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  box-shadow: -3px 3px 0px black;
  font-size: 1.125rem;
  color: rgb(46, 31, 99);
  cursor: pointer;
}

button:hover {
  box-shadow: none;
  transition: 0.1s ease all;
}

header {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

@media (max-width: 640px) {
  .header {
    flex-wrap: wrap;
  }
}

header > :nth-of-type(2n) {
    margin-top:8rem;
    width:25rem;
}

@media (max-width: 640px) {
  header > :nth-of-type(2n) {
    margin-top:1rem;
    width:15rem;
  }
}

.cloud {
  width:20rem; 
  height:20rem; 
}

@media (max-width: 640px) {
  .cloud {
    width:10rem; 
    height:10rem;
  }
}

main{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width:100%; 
    height:auto;
}

section{ 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    align-items: center; 
    gap:8rem; 
    width:85%;
    height:auto;
}

.modal { 
    height: auto; 
    width: 40rem; 
    border-radius: 10px; 
    background-color: var(--cotton);
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

@media (max-width: 640px) {
  .modal {
    width: 90%;
  }
}

.modal.hidden {
    opacity: 0;
    visibility: hidden;
}
.modal.playscreen{
    margin-top:-22rem;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.modal.playscreen.show{
    visibility: visible;
    opacity: 100;
}

.titlebar{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding:0.5rem; 
    background-color: var(--dragonfruit);  
}

.content{ 
    height:100%; 
    width:100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    gap:2rem; 
    padding:2rem;
}

.game-info{
    display: flex;
    flex-direction: column;
    gap:2rem;
}

.choice{ 
    width:100%; 
    height:auto; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    gap:5rem;
}

.content .choice img { 
    height:5rem; 
    width: auto; 
    display: none;
}

.game-controls{ 
    display: flex; 
    gap:3rem; 
}

/*---------- 
    game visibilty toggle on images - butons
--------------*/
#btnNextRound, #btnplayAgain{
    display: none;
}

#rock.show, 
#paper.show, 
#scissors.show,
#userRock.show,
#userScissors.show,
#userPaper.show,
#btnNextRound.show,
#btnplayAgain.show{
    display: block;
}

footer{
    height:40rem;
}